.card {
    &__button-delete {
        &.visible {
            opacity: 1;
            z-index: 1;

            &:hover,
            &:focus {
                opacity: 0.75;
            }
        }
    }

    &.open {
        .card__description {
            z-index: 2;
            opacity: 1;
        }
    }

}

@include breakpoint(mobile) {
    .creation-card {
        &.creation-card_open {
            z-index: 2;
            opacity: 1;
        }
    }
}