.form {
    display: flex;

    &__item {
        border: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        flex-basis: 19%;
        margin: 0;

        &:nth-child(3) {
            flex-basis: 9%;
        }

        &:nth-child(4) {
            flex-basis: 29%;
        }
    }

    &__label {
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 5px 0;
    }

    &__input {
        padding: 5px;
        font-size: 14px;
        line-height: 14px;
        outline: none;
        border: none;
        border-bottom: 1px solid #000;
    }

    &__wrapper-buttons {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 25px 0 0 0;
    }

    &__submit {
        background-color: #fff;
        color: #b90000;
        font-size: 16px;
        line-height: 16px;
        padding: 10px 15px;
        border: 2px solid #b90000;
        transition: 200ms;
        cursor: pointer;
        font-weight: bold;

        &:hover,
        &:active {
            background-color: #b90000;
            color: #fff;
        }
    }

    textarea {
        height: 28px;
    }

    .button-add-card {
        font-size: 18px;
        color: #000;
        line-height: 18px;
        padding: 10px;
        background-color: #fff;
        border: 2px solid #000;
        box-shadow: 3px 3px 4px #0000003b;
        outline: none;
        cursor: pointer;
        transition: 300ms;

        &:hover {
            background-color: #000;
            color: #fff;
        }

        &:active {
            box-shadow: none;
        }
    }

    &-add-card {
        justify-content: space-between;
        flex-basis: 100%;
    }

    &-login-checkin {
        flex-direction: column;
        flex-basis: 50%;
        max-width: 500px;
        margin: 0 auto;

        .form__item {
            flex-basis: 100%;
            margin: 25px 0 0 0;
            padding: 25px 0 0 0;
        }
    }
}