.form {
    display: flex;

    &__item {
        border: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin: 0;
        position: relative;
    }

    &__label {
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        margin: 0 0 5px 5px;
        font-family: 'Montserrat-SemiBold', sans-serif;
    }

    &__notice {
        color: #a1a1a1;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin: 0 0 0 3px;
    }

    &__input {
        padding: 5px;
        font-size: 14px;
        line-height: 14px;
        outline: none;
        border: none;
        border-bottom: 1px solid $colorBlack;

        &[readonly] {
            cursor: default;
        }
    }

    &__wrapper-buttons {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 25px 0 0 0;
    }

    &__submit,
    .button-add-card {
        @include buttonRed;
    }

    &__link {
        font-weight: bold;
        color: $colorRed;

        &:after {
            background-color: $colorRed;
        }
    }

    textarea {
        height: 28px;
    }

    .button-visible-password {
        position: absolute;
        right: 0;
        bottom: 7px;
        height: 15px;
        width: 26px;
        background-color: $colorWhite;
        border: none;
        outline: none;
        background-image: url("../../images/visiblePassword.png");
        background-size: 100% 100%;
        cursor: pointer;

        &.button-hidden-password {
            background-image: url("../../images/hiddenPassword.png");
        }
    }

    &-add-card {
        justify-content: space-between;
        flex-basis: 100%;

        .form__item {
            flex-basis: 19%;
            width: 19%;

            &:nth-child(3) {
                flex-basis: 9%;
                width: 9%;
            }

            &:nth-child(4) {
                flex-basis: 29%;
                width: 29%;
            }
        }
    }

    &-login-checkin {
        flex-direction: column;
        flex-basis: 50%;
        max-width: 500px;
        margin: 0 auto;

        .form__item {
            flex-basis: 100%;
            margin: 25px 0 0 0;
            padding: 25px 0 0 0;
        }
    }

    &.profile__info-form {
        .form__item {
            width: 100%;
            margin: 0 0 40px 0;
            flex-basis: 0;
        }

        .form__wrapper-buttons {
            margin: auto 0 0 0;
        }
    }

    &-change-password {
        flex-direction: column;

        .form__item {
            margin: 0 0 30px 0;
        }

        .form__submit {
            max-width: fit-content;
            margin: 0 auto;
        }
    }

    &-change-avatar {
        flex-direction: column;

        .form__item {
            flex-basis: 100%;
        }
    }
}

.success-result {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        margin: 0;
        font-size: 16px;
        line-height: 18px;
    }

    .form__submit {
        margin: 30px 0 0 0;
    }
}