.header {
	display: flex;
	flex-basis: 100%;
	background-color: #000;
	justify-content: space-between;
	padding: 10px 40px;
	height: 110px;

	&__photo {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		margin: 0 0 0 15px;

		img {
			border-radius: 50%;
		}
	}

	&__profile {
		display: flex;
		align-items: center;
	}

	&__name {
		color: #fff;
		font-size: 18px;
		line-height: 20px;
	}

	.logo {
		flex-basis: 250px;
	}
}
