.sidebar {

	@include breakpoint(tablet) {
		&.sidebar_open {
			z-index: 2;
			opacity: 1;
		}
	}
}

.button-open-sidebar {
	@include buttonMobileOpen();
	background-image: url("../../images/burger.svg");
	top: 130px;

	@include breakpoint(tablet) {
		display: block;
	}

	@include breakpoint(mobile) {
		top: 70px;
	}
}